* {
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
}


@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

@font-face {
    font-family: 'Avalon';
    src: url('https://assets.tumblr.com/fonts/avalon/Avalon-Book-webfont.woff?1');
}

html {
    font-family: 'Montserrat', sans-serif;
}

#main {
    position: absolute;
    max-width: 900px;
    top: 33.333333%;
    left: 50%;
    margin-left: -450px;
}

.sidebar-main {
    position: relative;
    float: left;
    width: 260px;
}

.sidebar {
    position: fixed;
    width: 260px;
}

.sidebar .blog-title,
.sidebar .blog-title h1 {
    text-decoration: none;
    font-weight: normal;
    font-size: 40px;
    color: #222222;
    font-family: 'Avalon', sans-serif;
    letter-spacing: 1px;
}


.sidebar .decription {
    font-size: 15px;
    letter-spacing: 1px;
    margin: 28px 0;
}

.sidebar .social-list a {
    background-color: #8bb2ca;
    padding: 8px 9px;
    text-decoration: none;
    margin-right: 1px;
}

.sidebar .social-list a:hover {
    background-color: #427ea3;
    cursor: pointer;
}

.sidebar .social-list i {
    color: #fff;
    font-size: 15px;
}

.sidebar .nav {
    margin: 28px 0;
    display: inline-block;
    list-style-type: none;  
}

.sidebar .nav li {
    display: inline-block;
    padding: 5px 10px 8px 0;
    font-size: 15px;
    line-height: 1;
    font-weight: 400;
}

.sidebar .nav li:hover a {
    box-shadow: 0 1.5px #222222;
}


.sidebar .nav a {
    color: #222222;
    text-decoration: none;
}

#image-container {
    width: 560px;
    float: right;
    margin-top: -88px;
    margin-left: 500px;
}

/* #img-slider {
    position: absolute;
    float: right;
} */

