* {
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Helvetica, Arial, sans-serif;
}
/*  Ctr Shift L
    Alt Shift ->*/

.clear {
    clear: both;
}

.text-white {
    color: #fff;
}

#main {

}

#header {
    position: fixed;
    height: 46px;
    background-color: #000;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

#nav {
    display: inline-block;
}

#nav, .subnav, .tickets-list {
    list-style-type: none;
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;  
}

#nav > li:hover > a,
#nav .subnav li:hover a{
    color: #000;
    background-color: #ccc;
}

#nav .subnav {  
    position: absolute;
    display: none;
    min-width: 160px;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav li:hover .subnav {
    display: block;
}

#nav .subnav a {
    color: #000;
    line-height: 38px;
    padding: 0 12px;
}

#nav .nav-arrow-down {
    font-size: 14px;
}

#header .search-btn {
    float: right;
    padding: 0 21px;
}

#header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer;
}

#header .search-icon {
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}

#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('../../assets/img/slider/chicago.jpg') top center / cover no-repeat;
    z-index: 50;
}

#slider .text-content{
    position: absolute;
    bottom: 48px;
    color: #fff;
    width: 100%;
    text-align: center;
}   

#slider .text-heading{
    font-weight: 500;
    font-size: 24px;
}

#slider .text-decription{
    font-size: 15px;
    margin-top: 25px;
}


#content {

}

#content .content-section {
    width: 800px;
    padding: 64px 0;
    margin: 10px 0;
    margin-left: auto;
    margin-right: auto;
}

#content .section-heading {
    font-size: 30px;
    font-weight: 500;
    margin: 10px 0;
    text-align: center;
    letter-spacing: 4px;
}

#content .section-sub-heading {
    font-size: 15px;
    text-align: center;
    margin: 15px 0;
    font-style: italic;
    opacity: 0.6;
}

#content .about-text {
    font-size: 15px;
    margin: 15px 0;
    text-align: justify;
    line-height: 1.4;
}

#content .member-list {
    padding: 32px 0;
    overflow: hidden;
}

#content .member-item {
    text-align: center;
    float: left;
    width: 33.333333%;
}

#content .member-name {
    margin: 15px 0;
    font-size: 15px;
}

#content .member-img {
    width: 154px;
    border-radius: 5px;
}

.tour-section {
    background-color: #000;
}

.tickets-list {
    background-color: #fff;
    margin: 32px 0;
}

.tickets-list li {
    font-size: 15px;
    padding: 8px 16px;
    color: #757575;
    border-bottom: 1px solid #000;
}

.tickets-list .sold-out {
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}

.tickets-list .quantity {
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    color: #fff;
    margin-top: -2px;

} 

.places-list {
    margin: 32px -8px 0;
    padding-bottom: 32px;
}

.place-item  {
    float: left;
    width: 33.33333%;
    padding: 0 8px;
}

.place-img {
    width: 100%;
    display: block;
}   

.place-img:hover {
    opacity: 0.6;
}

.place-body {
    background-color: #fff;
    padding: 16px;
}

.place-heading {
    font-size: 15px;
    font-weight: 600;
}

.place-time {
    margin: 15px 0;
    opacity: 0.60;
}

.place-desc {
    margin: 15px 0;
    line-height: 1.4;
}

.place-buy-btn {
    display: inline-block;
    font-size: 15px;
    text-decoration: none;
    background-color: #000;
    color: #fff;
    padding: 10px 16px;
    margin-top: 8px;
    cursor: pointer;
    border: none;
}

.place-buy-btn:hover {
    color: #000;
    background-color: #ccc;
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.modal.open {
    display: flex;
}

.modal-container {
    position: relative;
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    animation: modalFadeIn ease 0.5s;
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    opacity: 0.8;
    padding: 12px;
    cursor: pointer;
}

.modal-close:hover {
    background-color: #ccc;
    color: #000;
}

.modal-header {
    height: 130px;
    background-color: #009688;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    letter-spacing: 2;
}

.modal-heading-icon {
    margin-right: 15px;
}

.modal-body {
    padding: 0 16px;
}

.modal-label {
    display: block;
    font-size: 15px;
    margin: 15px 0;
}

.modal-input {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
    font-size: 15px;
}

.buy-tickets {
    width: 100%;
    padding: 16px;
    margin: 16px 0;
    color: #fff;
    background-color: #009688;
    font-size: 15px;
    border: none;
    text-transform: uppercase;
}

.buy-tickets:hover,
.modal-close-footer:hover {
    opacity: 0.8;
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

.modal-footer {
    position: relative;
}

.modal-close-footer {
    background-color: #f44336;
    color: #fff;
    font-size: 15px;
    padding: 8px 16px;
    margin: 16px 0;
    border: none;
}

.modal-help {
    position: absolute;
    display: inline-block;
    padding: 16px;
    right: 0;
}

.modal-footer a {
    color: #2196F3;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-140px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#footer {

}
